html * {
	font-family: 'Roboto', sans-serif;
}

header {
	clear: both;
	margin-top: 0;
	margin-bottom: 0;
}

h1 {
	font-size: 3em;
}

nav {
	background-color: #ffffff;
	clear: both;
}

nav ul {
	list-style-type: none;
	width: 100%;
	height: 5%;
	text-align: center;
	padding: 0;
}

nav ul li {
	float: left;
	display: flex;
	width: 12%;
	height: 5vh;
	padding: 0;
	margin-left: 1%;
	margin-right: 1%;
}

nav li a {
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	border-radius: 25px;
	background-color: #4472C4;
	font-size: 1em;
	width: 100%;
	height: 100%;
}

nav li a:hover {
	background-color: #305189;
}

table, th, td {
	border: 1px solid black;
	width: auto;
	border-collapse: collapse;
}

th {
	color: #ffffff;
	background-color: #4472C4;
	font-weight: normal;
}

td {
	background-color: #ffffff;
}

h2, h3 {
	margin-top: 5px;
	margin-bottom: 5px;
}

h3 {
	color: #4472C4;
}

.column {
	float: left;
	width: 48%;
	margin: 1% 1% 1% 1%;
}

footer {
	clear: left;
	Width: 100%;
	bottom: 0;
}

img {
	margin: 1% 1% 1% 1%;
}